* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #ffffff;
  }

/* --------------header-------------- */
#header{
  width: 100%;
  background-position: center;
  background: rgb(0, 132, 255);
}
.container{
  padding: 10px;
}
nav{
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 20px;
  /* background: #767676; */
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  color: #000000;
  text-decoration: none;
  position: relative;
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position:absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}
nav .fa-solid{
  display: none;
}

.container{
    display: flex;
    width: 98%;
    margin-bottom: 30px;
    margin-top: 30px;
}

#root{
    /* width: 10%; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.bar{
    width: 100%;
    border-radius: 10px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}

.head{
    background-color: #04AA6D;
    border-radius: 5px;
    height: 70px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 2px solid #333;
}

/* --------------contact--------------
#contact{
  margin-top: 25px;
  background: #555;
  color: white;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-left{
  flex-basis: 50%;
}
.contact-right{
  flex-basis: 45%;
}
.contact-left p{
  margin-top: 10px;
  font-size: 20px;
}
.contact-left p i{
  color: #ff004f;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
}
.sub-title{
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}
.contact-right p{
  margin-top: 10px;
}
.social-icons{
  padding-left: 30%;
  margin-top: 5px;
}
.social-icons a{
  text-decoration: none;
  font-size: 35px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: #ff004f;
  transform: translateY(-5px);
}

/* -------------copyright-------------- */
.copyright{
  width: 100%;
  text-align: center;
  background: #262626;
  font-weight: 300;
}
.copyright i{
  color: #ff004f;
} */